@page
@model IndexModel
@{
    ViewData["Title"] = "Hole Foods";
}

<div class="text-center">
    <h1 class="display-4">Hole Foods Database</h1>
    <p>This website contains infomation on the current products, employees and stores working for or owned by 'Hole Foods'.</p>
</div>
